@import url(https://fonts.googleapis.com/css2?family=Staatliches);

* {
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    transition: all 1s;
}

:root {
    --diff: 0px;
    --margin-start: 25px;
    --spread: 6px;
    --shadow: 1px;
}

@keyframes background-changer {
    from {background: red;}
    50% {background: blue;}
    to {background: red;}
}

@keyframes in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes in-delay {
    from {opacity: 0;}
    50% {opacity: 0;}
    to {opacity: 1;}
}

@keyframes left-animation {
    0% {
        /* transform: rotate(-135deg); */
        margin-left: var(--margin-start);
        border-color: transparent;
        transform: rotate(110deg);
        background: #000;
    }
    25% {
        margin-left: var(--margin-start);
        border-color: #000;
        transform: rotate(110deg);
        background: #000;
    }
    50% {
        background: transparent;
        transform: rotate(45deg);
    }
    to {
        /* transform: rotate(45deg); */
        margin-left: 0px;
        border-color: #fff;
    }
}

@keyframes right-animation {
    0% {
        /* transform: rotate(45deg); */
        margin-right: var(--margin-start);
        border-color: transparent;
        transform: rotate(-200deg);
        background: #000;
    }
    25% {
        margin-right: var(--margin-start);
        border-color: #000;
        transform: rotate(-200deg);
        background: #000;
    }
    50% {
        background: transparent;
        transform: rotate(-135deg);
    }
    to {
        transform: rotate(-135deg);
        margin-right: 0px;
        border-color: #fff;
    }
}

@keyframes shadow-animation {
    from {
        box-shadow: calc(var(--shadow)*-1) calc(var(--shadow)*-1) var(--spread) black,
                         var(--shadow)          var(--shadow)     var(--spread) black,
              inset calc(var(--shadow)*-1) calc(var(--shadow)*-1) var(--spread) black,
              inset      var(--shadow)          var(--shadow)     var(--spread) black;
    }
    50% {
        box-shadow: calc(var(--shadow)*-1) calc(var(--shadow)*-1) var(--spread) goldenrod,
                         var(--shadow)          var(--shadow)     var(--spread) goldenrod,
              inset calc(var(--shadow)*-1) calc(var(--shadow)*-1) var(--spread) goldenrod,
              inset      var(--shadow)          var(--shadow)     var(--spread) goldenrod;
    }
    to {
        box-shadow: calc(var(--shadow)*-1) calc(var(--shadow)*-1) var(--spread) black,
                         var(--shadow)          var(--shadow)     var(--spread) black,
              inset calc(var(--shadow)*-1) calc(var(--shadow)*-1) var(--spread) black,
              inset      var(--shadow)          var(--shadow)     var(--spread) black;
    }
}

@keyframes date-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body{
    background: #fff;
    height: 90vh;
    align-items: center;
}
.infinity {
    position: absolute;
    top: calc(50vh - 40px);
    left: calc(50vw - 89px);
    width: 178px;
    height: 80px;
    transition: all 1s;
}
.infinity:not(.second) {
    /* height: calc(80px + var(--diff)); */
    margin-top: calc((var(--diff) + .5px) / 1.41);
    animation: in 2s;
}
.infinity:before,
.infinity:after {
    content: "";
    /* animation: background-changer 5s infinite; */
    /* background: #000; */
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 10px solid #fff;
    /* border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
    border-image-slice: 1; */
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotate(45deg);
    animation: left-animation 10s cubic-bezier(.19,1,.22,1);

}
.infinite::before {

}
.infinity:after {
    left: auto;
    right: 0;
    transform: rotate(-135deg);
    animation: right-animation 10s cubic-bezier(.19,1,.22,1);
}
.second:before,
.second:after {
    animation: shadow-animation 5s infinite;
    /* background: #000; */
}

.second {
    position: absolute;
    animation: in-delay 10s;
}

span {
    position: absolute;
    width: 100%;
    font-family: 'Staatliches', cursive;
    text-align: center;
    animation: in-delay 10s;
}

.date {
    top: 58vh;
    color: rgba(0,0,0,0.8);
}

.date:not(.date2) {
    animation: in-delay 10s, date-animation 6s infinite 10s;
}

.date2 {
    animation: in-delay 13s, date-animation 6s infinite 13s;
    opacity: 0;
    transition: all 1s;
}

.ask {
    top: 39vh;
    font-size: 22px;
    color: rgba(0,0,0,0.8);
}

.conn2 {
    position: absolute;
    width: 10px;
    height: 14px;
    top: calc(50vh - 7px);
    left: calc(50vw - 5px);
    transform: rotate(-43deg);
    animation: in-delay 10s 1s forwards, shadow-animation 5s infinite;
    opacity: 0;
}

.conn3 {
    position: absolute;
    width: 10px;
    height: 24px;
    top: calc(50vh - 12px);
    left: calc(50vw - 5px);
    transform: rotate(-43deg);
    background: #fff;
    opacity: 0;
    animation: in-delay 8s 1s forwards;
}
